html {
    background-color: black;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
}

.motivation-img {
    border: 5px solid white;
    width: 70%;
    /* width: 200px; */
    /* height: 400px; */
}

.div-1 {
    color: white;
    /* width: 50%; */
    /* margin: 25%; */
    display: grid;
    place-items: center;
    margin-top: 50px;
}